.title-abc {
  color: rgb(21, 93, 121);
  font-size: 24px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

.card-container {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.detail-button {
  font-size: 14px;
}
