.job-wrapper {
    margin: 20px 0;
    .react-datepicker-wrapper {
        display: block;
    }
    .payments {
        margin: 20px 0;
        padding: 20px 10px;
        background-color: black;
        border-radius: 15px;
        color: white;
        text-align: center;
        .price {
            font-size: 28px;
            color: yellow;
        }
        .title {
            margin-bottom: 10px;
        }
        .type-wrapper{
            .type {
                cursor: pointer;
                font-weight: 500;
                .checked {
                    position: absolute;
                    top: 0px;
                    right: 480px;
                    @media screen and (max-width: 768px) {
                        right: 135px;
                        
                    }
                    img {
                        height: 20px;
                    }
                }
            }
        }
    }

    .modal{
        background-color: red;
    }
    .ReactModalPortal {}
}