.login-page-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  .user-profileUpdate{
    width: 90%;
    padding: 20px;
    box-shadow: 2px 2px 20px 8px rgba($color: #000000, $alpha: .05);
    .header-profile-paper{
      .report-title{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        color: #6e6e6e;
        margin-bottom: 20px;
        padding: 20px 0;
        border-bottom: 1px solid gray;
      }
    }
  }
  .login {
    padding: 15px 0;
    position: relative;
    .link {
      color: rgb(21, 93, 121);
      font-weight: 500;
    }
    .btn-submit {
      position: absolute;
      right: 0;
      top: 11px;
      line-height: normal;
      font-weight: 500;
    }
  }
}
