.login-page-wrapper {
  .title {
    color: rgb(21, 93, 121);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }

  .btn-detail{
    text-decoration: none;
    transition: color 0.3s ease 0s;
    &:hover{
      color: #0d32a0;
    }
  }
}
