.user-profile-wrapper {
  max-width: 90%;
  .title {
    color: rgb(21, 93, 121);
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }
  .list-motel {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        color: white;
        .motel {
          border-radius: 10px;
          margin: 15px 0;
          padding: 5px;
          text-align: center;
          .motel-name {
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .motel-new,
          .motel-edit,
          .motel-remove {
            cursor: pointer;
          }
        }
        &:nth-child(even) {
          .motel {
            background: white;
          }
        }
        &:nth-child(odd) {
          .motel {
            background: white;
          }
        }
      }
    }
  }
  .user-room-container {
      .user-room-table{
        width: 100%;
        border-collapse: collapse;
      }

      .table-responsive {
        overflow-x: auto;
        margin-top: 40px;

        .user-room-table{
          thead{
            background-color: white;
            color: white;
          }
          th, td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
          }
        }
      }
      
      @media (max-width: 600px) {
        .user-room-table th, .user-room-table td {
          font-size: 8px;
          min-width: 100px;
          padding: 8px;
        }
      
        .hide-on-mobile {
          display: none;
        }
      }
  }
}
