.user-profile-wrapper {
  width: 100%;
  max-width: 100% !important;
  #motelList{
    max-width: 100% !important;
  }

  .title-abc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(21, 93, 121);
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }

  .card-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); // Màu đen với độ trong suốt 0.5
      z-index: 999; // Đặt z-index cao hơn để nó nằm trên mọi thành phần khác
      display: flex;
      justify-content: center;
      align-items: center;
    
      &::after {
        content: "";
        width: 50px; /* Đặt kích thước vòng quay */
        height: 50px; /* Đặt kích thước vòng quay */
        border: 4px solid #fff; /* Đặt màu và độ rộng của vòng quay */
        border-top: 4px solid transparent; /* Để tạo vòng tròn trong suốt */
        border-radius: 50%; /* Chuyển thành hình tròn */
        animation: spin 1s linear infinite; /* Sử dụng animation với tên spin, thời gian 1s, tuyến tính và vô hạn lặp */
      }
    
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
    .table-container{
      width: 100%;
      max-width: 100% !important;
      @media screen and (max-width: 768px){
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; 
      }
      .export-btn{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: 400;
        color: #2e2e2e;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        &:hover{
          background-color: #e0e0e0;
        }
      }
    }
    
    }
  }