.user-profile-wrapper {
  .user-profile{
    box-shadow: 2px 2px 20px 8px rgba($color: #000000, $alpha: .05);
    border-radius: 6px;
    margin: 30px 0;
    padding: 10px 30px;
    .user-profile-title{
      color: rgb(95, 95, 95);
      font-size: 32px;
      text-align: center;
      padding: 10px;
      font-weight: 500;
      border-bottom: 1px solid gray;
    }
    .list-motel {
      border: none;
      box-shadow: none;
      .user-profile-container{
        border-radius: 10px;
        padding: 10px 30px;
        .map-profile-btn{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          .map-btn,
          .profile-update-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

          }
          @media screen and (max-width: 768px){
            .map-btn,
            .profile-update-btn{
              font-size: 12px;
            }
          }
        }
        .upload-and-create-motel-btn{
          display: flex;
          min-width: 340px;
          flex-direction: row;
          gap: 10px;
          margin-top: 10px;
        }
        .map-and-profile-btn{
          display: flex;
          min-width: 370px;
          flex-direction: row;
          gap: 10px;
          margin-top: 10px;
        }
      }
      .motel-title{
        // display: flex;
        flex-direction: row;
        color: rgb(91, 91, 91);
        font-size: 26px;
        font-weight: 500;
        padding: 10px 4px !important;
        // display: flex;
        // justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        @media screen and (max-width: 768px){
          font-size: small;
          
        }
        .add-new-button-container{
          display: flex;
          justify-content: end;
          @media screen and (max-width: 768px){
            display: flex;
            justify-content: flex-end;
            
          }

        }
        .add-new-btn{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          min-width: 200px;
          gap: 10px;
          @media screen and (max-width: 768px){
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 40px;
            .add-new-building-text{
              display: none;
            }
            
          }
        }
      }
      .job-empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #929292;
        margin: 20px 0;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 10px;
        li {
          color: rgb(31, 31, 31);
          .motel {
            border-bottom: 1px solid gray;
            margin: 15px 0;
            padding: 12px 10px;
            text-align: center;
            display: flex;
            align-items: center;
            .motel-name {
              align-items: center;
              display: flex;
              justify-content: start;
            }
            .edit-delete-btn{
              display: flex;
              flex-direction: row;
              justify-content: end;
              gap: 0px;
              
            }
            .motel-edit,
            .motel-remove {
              cursor: pointer;
            }
            .motel-edit{
              display: flex;
              flex-direction: row;
              gap: 10px;
              justify-content: center;
              align-items: center;
              padding: 7px 12px;
              min-width: 140px;
              margin-right: 10px;
              border: none;
              background: rgb(136, 136, 136);
              color: white;
              border-radius: 8px;
              &:hover{
                background: rgb(70, 70, 70);
                transition: all 0.3s ease-in-out;
              }
            }
            .motel-remove{
              display: flex;
              flex-direction: row;
              gap: 10px;
              justify-content: center;
              align-items: center;
              padding: 7px 4px;
              min-width: 120px;
              border: none;
              background: rgb(220, 17, 17);
              color: white;
              border-radius: 8px;
              &:hover{
                background: rgb(150, 17, 17);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  .job-container{
    border-radius: 6px;
    box-shadow: 2px 2px 20px 8px rgba($color: #000000, $alpha: .05);
    padding: 30px;
    margin: 30px 0;
    .job-title{
      color: rgb(95, 95, 95);
      font-size: 28px;
      text-align: center;
      padding: 10px;
      font-weight: 500;
      border-bottom: 1px solid gray;  
    }
    .job-information{
      border-bottom: 1px solid gray;
      padding: 15px 0;
      @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
      }
      .job-detail{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 768px){
          display: flex;
          flex-direction: column;
        }
        .job-item1{
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          .job-fullname{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            @media screen and (max-width: 768px){
              justify-content: center;
            }
            .fullname-icon{
              font-size: 22px;
              color: #6e6e6e;
            }
            .fullname-text{
              font-size: 17px;
              font-weight: 500;
              color: #6e6e6e;
            }
          }
          .job-phone{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            @media screen and (max-width: 768px){
              justify-content: center;
              margin-bottom: 10px;
            }
            .phone-icon{
              font-size: 22px;
              color: #6e6e6e;
            }
            .phone-text{
              font-size: 17px;
              font-weight: 500;
              color: #6e6e6e;
            }
          }
        }
        .job-item2{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 50%;
          gap: 10px;
          @media screen and (max-width: 768px){
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
          }
          .job-btn{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            align-items: center;
            
          }
        }
      }
    }
    .job-empty{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #929292;
      margin: 20px 0;
    }
  }
}
