.container{
  max-width: 90%;
  .title-abc {
    color: rgb(21, 93, 121);
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Màu đen với độ trong suốt 0.5
    z-index: 9999; // Đặt z-index cao hơn để nó nằm trên mọi thành phần khác
    display: flex;
    justify-content: center;
    align-items: center;


  
    &::after {
      content: "";
      width: 50px; /* Đặt kích thước vòng quay */
      height: 50px; /* Đặt kích thước vòng quay */
      border: 4px solid #fff; /* Đặt màu và độ rộng của vòng quay */
      border-top: 4px solid transparent; /* Để tạo vòng tròn trong suốt */
      border-radius: 50%; /* Chuyển thành hình tròn */
      animation: spin 1s linear infinite; /* Sử dụng animation với tên spin, thời gian 1s, tuyến tính và vô hạn lặp */
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  .summary-btn{
    border: 1px solid #a0a0a0;
    color: #797979;
    font-weight: 500;
    background-color: #ffffff;
    transition: all 0.3s;

    border-radius: 8px;
    &:hover{
      background-color: #e8e8e8;
      color: rgb(98, 98, 98);
    }

    .summary-icon{
      font-size: 20px;
      margin-right: 5px;
    }
  }

}



