.login-page-wrapper {
  .title {
    color: rgb(21, 93, 121);
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }
  .job-list-wrapper{
    max-width:  90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    .action-container{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px 0;
      .room-dropdown-container {
        border: 2px solid #ffffff; /* Customize the border color and thickness */
        border-radius: 8px; /* Optional: add border radius */

      }
      .room-dropdown{
        width: 100%;
        box-shadow: 2px 2px 20px 6px rgba($color: #000000, $alpha: 0.05);
        transition: all 0.3s;

        &:hover{
          border: 1px solid #1455c6;
        
        }
        &:focus{
          border: 1px solid #1455c6;
        }
      }
      .dropdown-menu{
        padding: 10px;
        margin-top: 10px;
        border: none;
        box-shadow: 2px 2px 20px 6px rgba($color: #000000, $alpha: 0.05);
        max-height: 300px; // You can adjust the height as needed
        overflow-y: hidden;
        &:hover{
          overflow-y: auto;
        }
        .dropdown-item{
          white-space: nowrap; // Prevents text from wrapping
          overflow: hidden;
          text-overflow: ellipsis;
          border-radius: 8px;
          transition: all 0.3s;
          &:hover{
            background-color: #f1f1f1;
          }
          .dropdown-key{
            font-weight: 400;
            color: #6c6c6c;
            transition: all 0.3s;
            &:hover{
              background-color: #f1f1f1;
            }
          }
        }
      }

    }
    .dashboard-container{
      min-height: 350px;
      width: 100%;
      margin: 30px 0 10px 0;
      gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .revenue-container{
        padding: 10px;
        border-radius: 8px;
        box-shadow: 2px 2px 20px 6px rgba($color: #000000, $alpha: 0.05);
      }
      .compare-container{
        padding: 10px;
        border-radius: 8px;
        box-shadow: 2px 2px 20px 6px rgba($color: #000000, $alpha: 0.05);
      }
      .monthly-chart{
        padding: 10px;

        border-radius: 8px;
        box-shadow: 2px 2px 20px 6px rgba($color: #000000, $alpha: 0.05);
      }
      .target-actual-chart{
        padding: 10px;

        border-radius: 8px;
        box-shadow: 2px 2px 20px 6px rgba($color: #000000, $alpha: 0.05);
      }

    }
  }

  .user-room-container {
    .user-room-table{
      width: 100%;
      border-collapse: collapse;
    }
  
    .table-responsive {
      overflow-x: auto;
      margin-top: 40px;
  
      .user-room-table{
        thead{
          background-color: white;
          color: white;
        }
        th, td {
          padding: 10px 4px;
          min-width: 100px;
          border: 1px solid #ddd;
          text-align: center;
        }
        .energy-room-detail-button{
          cursor: pointer;
          font-size: 17px;
          font-style: none;
          text-decoration: none;
          color: #858585;
          transition: all 0.3s;
          &:hover{
            color: white;
          }
        
        }
      }
    }
    
    @media (max-width: 600px) {
      .user-room-table th, .user-room-table td {
        font-size: 8px;
        min-width: 100px;
        padding: 8px;
      }
    
      .hide-on-mobile {
        display: none;
      }
    }
  }
}



