.header-bold {
  font-weight: bold;
}
.title {
  color: rgb(21, 93, 121);
  font-size: 24px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  .btn-accept{
    border-radius: 20px;
    font-size: 17px;
  }
  .btn-cancel{
    border-radius: 20px;
    font-size: 17px;
  }
}
