.user-profile-wrapper {
  .list-motel {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        color: white;
        .motel {
          border-radius: 10px;
          margin: 15px 0;
          padding: 5px;
          text-align: center;
          .motel-name {
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .motel-new,
          .motel-edit,
          .motel-remove {
            cursor: pointer;
          }
        }
        &:nth-child(even) {
          .motel {
            background: white;
          }
        }
        &:nth-child(odd) {
          .motel {
            background: white;
          }
        }
      }
    }
  }
  .user-room-container {
      .user-room-table{
        width: 100%;
        border-collapse: collapse;
      }

      .table-responsive {
        overflow-x: auto;
        margin-top: 40px;

        .user-room-table{
          thead{
            background-color: white;
            color: white;
          }
          th, td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
          }
        }
      }
      
      @media (max-width: 600px) {
        .user-room-table th, .user-room-table td {
          font-size: 8px;
          min-width: 100px;
          padding: 8px;
        }
      
        .hide-on-mobile {
          display: none;
        }
      }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Black with 0.5 transparency
  z-index: 999; // High z-index to overlay other elements
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: flex;
    justify-content: space-between;
    width: 50px; // Set width for the dots container
  }

  &::after::before,
  &::after::after,
  &::after span {
    content: "";
    width: 10px; // Set dot width
    height: 10px; // Set dot height
    background: #fff; // Set dot color
    border-radius: 50%; // Make the dots round
    animation: bounce 1.5s infinite; // Animation for the dots
  }

  &::after::before {
    animation-delay: 0s;
  }

  &::after span {
    animation-delay: 0.3s;
  }

  &::after::after {
    animation-delay: 0.6s;
  }

  @keyframes bounce {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1); }
  }
}



