.navbar-wrapper {
  display: block;
  width: 100%;
  position: relative;
  display: table;
  box-sizing: border-box;
  padding: 5px 20px;
  @media screen and (max-width: 576px) {
    padding: 5px 50px;
    display: flex;
    flex-direction: column;
    
  }
  .logo {
    height: 35px;
    margin-bottom: 2px;
  }
  .menu-language {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    line-height: 50px;
    cursor: pointer;
    li {
      display: inline-block;
      padding: 0 5px;
      img {
        width: 35px;
      }
    }
  }
  .zoom-hover {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
  .text-logo {
    display: flex;
    justify-content: space-between;
    .menu-button{
      display: none;
      border: none;
      border-radius: 14px;
      margin-right: 16px;
      background-color: transparent;
      font-size: 22px;
      color: #333;
      @media screen and (max-width: 576px){
        display: flex;
      }
    }
    &:hover {
      .logo-symbol {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  .logo-symbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #54ca95;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
  }
  .logo-text {
    float: left;
    line-height: 50px;
    font-size: 20px;
    color: #222;
    font-weight: 600;
    span {
      font-weight: 400;
    }
  }
  .site-nav {
    // background-color: red;
    float: right;
    .site-main-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media screen and (max-width: 576px){
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
      }
      .close-menu{
        display: none;
        @media screen and (max-width: 576px){
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
          .close-menu-btn{
            border: none;
            border-radius: 50%;
            background-color: transparent;
            font-size: 20px;
            color: #333;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 576px){
        display: flex;
        flex-direction: column;
      }
      li{
        padding-left: 15px;
        border-radius: 12px;
      }
      @media (max-width: 576px) {
        li:last-child {
          margin-right: 0px !important;
        }
        .dropdown-menu-right {
          top: 50px;
        }
      }
      list-style: none;
      margin: 0;
      padding: 0;
      .nav-item {
        .money-info-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 10px;
          align-items: flex-end;
          color: black !important;
          .dropdown-menu {
            position: fixed;
            z-index: 999;
            top: 56px;
            max-height: 630px;
            transition: overflow-y 0.3s ease-in-out;
            &:hover {
              overflow-y: auto;
            }
            @media screen and (max-width: 576px){
              position: relative;
              top: 0px;
              left: 0px;
              overflow-y: auto;
            }

            margin: 8px 8px;
            padding: 0.7rem 0.7rem;
            border: none;
            border-radius: 10px;
            box-shadow: 2.8px 2.9px 9.4px rgba(0, 0, 0, 0.015),
              7.8px 7.9px 25.9px rgba(0, 0, 0, 0.021),
              18.7px 19px 62.4px rgba(0, 0, 0, 0.028),
              62px 63px 207px rgba(0, 0, 0, 0.04);
            .dropdown-item {
              font-size: 20px;
              &.active{
                background-color: rgba(25, 177, 219, 0.25);
              }
              .icon{
                font-weight: 200;
                font-size: 19px;
              }
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 10px;
              width: 100%;
              clear: both;
              font-weight: 300;
              font-size: 18px;
              color: #212529;
              text-align: inherit;
              white-space: nowrap;
              background-color: transparent;
              padding: 0.45rem 0.5rem;
              margin-bottom: 6px;
              border-radius: 8px;
              line-height: 30px;
              transition-duration: 600ms;
              transition-timing-function: ease;
              &:hover {
                background-color: rgba(25, 177, 219, 0.25);
                transition: all 0.3s ease-in-out;
              }
              &:last-child {
                display: flex;
                flex-direction: row;
                justify-content: start;
                gap: 10px;
                align-items: center;
                padding: 0.5rem 0.5rem;
                color: rgb(174, 24, 24);
              }
              &:last-child:hover {
                background-color: #ffe3e3;
                color: rgb(145, 25, 25);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
      li {
        display: inline-block;
        position: relative;
        color: #333;
        text-decoration: none;
        margin-right: 40px;
        a {
          padding: 5px 0;
          font-family: 'Poppins', Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          color: #333333;
          text-decoration: none;
          line-height: 50px;
          opacity: 0.55;
          letter-spacing: 0px;
          &:hover,
          &.active {
            opacity: 1;
            transition: all 0.3s ease-in-out;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .mobile-visible {
    display: none;
    visibility: hidden;
  }
  @media (max-width: 576px) {
    // position: fixed;
    // top: 0;
    // left: 0;
    z-index: 999;
    padding: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    .menu-toggle {
      display: inline-block;
      float: right;
    }
    .mobile-visible {
      visibility: visible;
    }
    .site-nav {
      position: fixed;
      background-color: #fff;
      bottom: 0;
      height: calc(100% - 80px);
      left: auto;      
      z-index: -1;
      opacity: 1;
      overflow: auto;
      visibility: visible;
      -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
      -webkit-transition: all 0s ease-in-out;
      -moz-transition: all 0s ease-in-out;
      -o-transition: all 0s ease-in-out;
      -ms-transition: all 0s ease-in-out;
      transition: all 0s ease-in-out;
    }
    .mobile-menu-hide {
      width: 0;
      right: 0;
      margin-right: -100%;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .mobile-menu-show {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 10px 15px;
      float: left;
      z-index: 999;
      -webkit-transition: all 0.44s ease-in-out;
      -moz-transition: all 0.44s ease-in-out;
      -o-transition: all 0.44s ease-in-out;
      -ms-transition: all 0.44s ease-in-out;
      transition: all 0.44s ease-in-out;
    }
    .mobile-menu-hide {
      -webkit-transition: all 0.44s ease-in-out;
      -moz-transition: all 0.44s ease-in-out;
      -o-transition: all 0.44s ease-in-out;
      -ms-transition: all 0.44s ease-in-out;
      transition: all 0.44s ease-in-out;
    }
    .site-nav {
      max-width: calc(100% - 50px);
      margin: 4px 35px;
      top: 6px;
      border-radius: 10px;
      box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.05);
      z-index: 999;
      @media screen and (max-width: 576px){
        display: flex;
        flex-direction: column;
        justify-content: start;
      }
      .site-main-menu {
        li {
          display: block;
          margin: 0 10px;
        }
      }
    }
    .header-content {
      z-index: 999;
      background-color: #fff;
      padding: 0px 0px;
    }
    .mobisearch{
      max-width: 50%;
    }

    .logo-symbol {
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      margin-top: 0;
    }
    .logo-text {
      display: inline-block;
      line-height: 32px;
      font-size: 18px;
    }
    .menu-language {
      line-height: 32px;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }
  }
  .listroommenu {
    position: absolute;
    width: 100%;
    background: #fff;
    color: #333;
    z-index: 15;
    ul {
      list-style: none;
      margin: 0;
      padding: 6px;
      border: 1px solid #e2e2e2;
      li {
        overflow: hidden;
        border-bottom: 1px dotted #ccc;
        padding: 6px;
        a {
          display: block;
          overflow: hidden;
          color: #333;
          h5 {
            font-size: 1rem;
            margin: 0;
          }
          h6 {
            margin: 3px 0;
            font-size: 0.8rem;
            padding: 0 15px 0 0;
          }
          p {
            margin: 0;
            font-size: 0.8rem;
            line-height: 20px;
          }
          .full-image {
            img {
              width: 80px;
            }
          }
        }
      }
    }
  }
  .mobisearch {
    display: none;
  }
  .filter-button{
    border: none;
    border-radius: 20px;
    min-width: 60px;
    background-color: #1f99e5;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    .filter-icon{
      font-size: 20px;
      margin-right: 4px;
    }
    &:hover{
      background-color: #0f5f9b;
    }
  }
}

@media (max-width: 576px) {
  .menulistSearchAll {
    display: none !important;
  }

  .mobisearch {
    display: block !important;
    .menulistSearchAll {
      display: block !important;
      .MuiInputBase-root {
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}
