.room-detail-wrapper {
    .button {
        display: flex;
        justify-content: flex-end;
        bottom: 0;
        padding: 15px;
        .button-deposit{
            max-width: 120px;
        }
    }
    .room-container {
        margin: 30px 0;
        padding: 20px 30px;
        border: none;
        border-radius: 8px;
        box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.05);
        .room-infor{
            display: flex;
            flex-direction: row;
            border: 1px solid rgb(187, 187, 187);
            min-height: 250px;
            border-radius: 18px;
            padding: 12px 0;
            .room-image img{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            .room-detail{
                .name-room{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    font-family: "Afacad", sans-serif;                    font-weight: 700;
                    font-style: normal;
                    font-weight: 800;
                    color: rgb(18, 140, 16);
                    font-size: 24px;
                    margin: 0 0 10px 15px;
                }
                .price-room{
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: 700;
                    font-size: 24px;
                    color: red;
                    .price-title{
                        display: flex;
                        gap: 6px;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 600;
                        font-size: 21px;
                        color: gray;
                        .price-icon{
                            font-size: 23px;
                        }
                        .price-text{
                            font-size: 24px;
                            font-weight: 600;
                            color: rgb(255, 0, 0);
                        }
                    }

                }
                .price-deposit{
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    align-items: center;
                    font-weight: 700;
                    font-size: 18px;
                    color: rgb(170, 170, 170);
                    .deposit-title{
                        display: flex;
                        gap: 6px;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 500;
                        font-size: 16px;
                        color: rgb(170, 170, 170);
                        .deposit-icon{
                            font-size: 20px;
                        }
                    }
                    .deposit-text{
                        font-size: 18px;
                        font-weight: 600;
                        color: rgb(107, 107, 107);
                    }
                
                }
                .minimum-month{
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    align-items: center;
                    font-weight: 700;
                    font-size: 18px;
                    color: rgb(170, 170, 170);
                    .minimum-month-title{
                        display: flex;
                        gap: 6px;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 500;
                        font-size: 16px;
                        color: rgb(170, 170, 170);
                        .price{
                            font-size: 20px;
                        }
                    }
                    .deposit-text{
                        font-size: 18px;
                        font-weight: 600;
                        color: rgb(107, 107, 107);
                    }
                
                }
                .item{
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: gray;
                    font-weight: 700;
                    .electric-title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;
                        font-size: 18px;
                        color: gray;
                        .electric-icon{
                            font-size: 22px;
                        }
                    }
                    .water-title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                        font-weight: 500;
                        font-size: 18px;
                        color: gray;
                        .water-icon{
                            font-size: 20px;
                        }
                    
                    }
                    .wifi-title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                        font-weight: 500;
                        font-size: 18px;
                        color: gray;
                        .wifi-icon{
                            font-size: 20px;
                        }
                    }
                    .garbage-title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                        font-weight: 500;
                        font-size: 18px;
                        color: gray;
                        .garbage-icon{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .button-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 6px;
            .action-button{
                border: none;
                background-color: transparent;
                width: 40px;
                height: 40px;color: #929292;
                border-radius: 50%;
                transition: all 0.3s;
                &:hover{
                    background-color: rgba(210, 210, 210, 0.6);
                    color: #575757;
                }
            }
            .collapse {
                display: flex;
                position: absolute;
                top: 50px;
                left: 240px;
                z-index: 99;
                min-width: 170px;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 10px;
                background-color: #ffffff; /* Màu nền */
                border-radius: 5px;
                box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.05);
              }

            .edit-button-detail {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                min-width: 140px;
                height: 40px;
                border-radius: 8px;
                transition: all 0.3s;
                border: none;
                background-color: transparent;
                color: #8b8b8b;
                .edit-icon{
                    font-size: 20px;
                }
                &:hover{
                    background-color: rgba(210, 210, 210, 0.6);
                    color: #404040;
                }
            }
            .delete-button-detail {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                cursor: pointer;
                min-width: 140px;
                height: 40px;
                border: none;
                border-radius: 8px;
                background-color: transparent;
                color: rgb(161, 22, 22);
                transition: all 0.3s;
                .delete-icon{
                    font-size: 20px;
                }
                &:hover{
                    background-color: rgb(255, 208, 208);
                    color: #771010;
                }
            }
        }
    }
    .image-slider {
        margin-bottom: 20px;
        padding: 10px;
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            filter: invert(0.7);
        }
        .carousel-item {
            height: 300px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                height: 700px;
                width: 100%;
                object-fit: contain;

            }
        }
    }
    .infor {
        .furniture,
        .utilities {
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
    .name {
        text-align: center;
    }
    .item {
        position: relative;
        max-width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .furniture-item {
        position: relative;
        min-width: 160px;
        font-size: 16px;
        max-width: fit-content;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 6px 12px;
        background-color: #ffe4b5;
        color: #ac7009;
        box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
    .interior-item {
        position: relative;
        min-width: 130px;
        font-size: 16px;
        max-width: fit-content;
        border-radius: 20px;
        padding: 6px 12px;
        background-color: #c9ffc8;
        color: #0c740a;
        box-shadow: 2px 2px 20px 6px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
    .icon {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 15px;
            color: #c8840f;
        }
    }
    .price {
        text-align: center;
        color: red;
        font-weight: 500;
    }
    .title {
        color: gray;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .more-infor {
        margin-bottom: 70px;
        .icon {
            img {
                height: 20px;
            }
        }
    }
    .checked {
        position: absolute;
        right: 0px;
        top: -10px;
        img {
            width: 15px;
        }
    }
    .carousel-inner {
        height: 400px;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  