.create-room-wrapper {
    max-width: 90%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.05);
    .header{
        color: rgb(21, 93, 121);
        font-size: 22px;
        text-align: center;
        padding: 10px;
        font-weight: 700;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    .react-datepicker-popper {
        left: -45px !important;
    }
    .react-datepicker-wrapper {
        width: 100%;
    }
    .quantity-room {
        margin-left: 50px;
    }
    .status-wrapper {
        .input-form-wrapper {
            margin-right: 50px;
        }
        position: relative;
        .status {
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 29px;
            div {
                position: absolute;
                display: inline;
                padding: 15px 15px;
                right: 0;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
            .green-box {
                background-color: green;
            }
            .red-box {
                background-color: red;
            }
            .orange-box {
                background-color: orange;
            }
        }
    }
}

.PickerCol {
    .react-datepicker-wrapper {
        width: 100%;
    }
}