.title {
  color: rgb(21, 93, 121);
  font-size: 24px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}
.btn{
  background-color: rgba(246, 246, 246, .8);
  border: none;
  color: gray;
}
