.user-profile-wrapper {
  max-width: 90%;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: #4a4a4a;
    margin: 20px;
  }
  .list-motel {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        color: white;
        .motel {
          border-radius: 10px;
          margin: 15px 0;
          padding: 5px;
          text-align: center;
          .motel-name {
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .motel-new,
          .motel-edit,
          .motel-remove {
            cursor: pointer;
          }
        }
        &:nth-child(even) {
          .motel {
            background: white;
          }
        }
        &:nth-child(odd) {
          .motel {
            background: white;
          }
        }
      }
    }
  }
  .user-room-container {
      .user-room-table{
        width: 100%;
        border-collapse: collapse;
      }

      .table-responsive {
        overflow-x: auto;
        margin-top: 40px;

        .user-room-table{
          thead{
            background-color: rgb(171, 171, 171);
            color: white;
          }
          th, td {
            padding: 10px 4px;
            min-width: 100px;
            border: 1px solid #ddd;
            text-align: center;
          }
          .energy-room-detail-button{
            cursor: pointer;
            font-size: 17px;
            font-style: none;
            text-decoration: none;
            color: #858585;
            transition: all 0.3s;
            &:hover{
              color: white;
            }
          
          }
        }
      }
      
      @media (max-width: 600px) {
        .user-room-table th, .user-room-table td {
          font-size: 8px;
          min-width: 100px;
          padding: 8px;
        }
      
        .hide-on-mobile {
          display: none;
        }
      }
  }
}
